# Flutter-specific
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
.flutter*

# Build outputs
/build/
**/build/
android/app/.cxx/

# Android Studio & Gradle
/android/app/debug
/android/app/profile
/android/app/release

# Symbolication and obfuscation
app.*.symbols
app.*.map.json

# IntelliJ / Android Studio
*.iml
.idea/

# VS Code
# Uncomment if you want to exclude VS Code settings too
#.vscode/

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# Ignore this actual .gitignore file from itself (optional and usually unnecessary)
# .gitignore


 /android/app/.cxx/Debug/401p6k1u/arm64-v8a/configure_fingerprint.bin
 /android/app/.cxx/Debug/401p6k1u/armeabi-v7a/configure_fingerprint.bin
 /android/app/.cxx/Debug/401p6k1u/x86/configure_fingerprint.bin
 /android/app/.cxx/Debug/401p6k1u/x86_64/configure_fingerprint.bin
