rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Allow anyone to read and write messages (NOT RECOMMENDED for production)
    match /message/{messageId} {
      allow read, write;
    }
  }
}
